h2{
    color: white;
    background-color: red;
    /*inline style overrides this property*/
}

#yellow{
    color: yellow;
}

.back-yellow{
    background-color: yellow;
} 

div p{
    color: blue;
    font-size: 28px;
}