body {
    background-image: linear-gradient(white, yellow);
}
header img{
    width: 100%;
    height: auto;
    max-width: 500px;
    
}

nav {
    background-color: white;
    border-top: 0.5em solid black;
    border-bottom: 0.5em solid black;
    border-radius: 1.0em;

    font-weight: bold;
    text-align: center;
}
nav ul{
    padding: 0px;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
nav ul li{
    background-color: blue;
    padding: 1.0em;
    margin: 0.25em;
    min-width: 12%;
    list-style-type: none;
}

nav a{
    color: white;
    text-decoration: none;
}

footer{
    background-color: white;
    margin-top: 1.0em;
    border-top: 0.5em solid black;
    border-bottom: 0.5em solid black;
    border-radius: 1.0em;
}

/*Begin Mobile*/

@media screen and (max-width: 640px){
    nav ul li{
        border-radius: 1.0em;
    }
}

/* End mobile*/

/*Begin tablet*/

@media screen and (max-width: 641px){
    nav ul li{
        display: inline-block;
        border-radius: 1.0em;
    }
}

/* End tablet*/

/*Begin desktop*/

@media screen and (max-width: 961px){
    nav{
        float: right;
    }
    nav ul li{
        display: inline-block;
        border-radius: 1.0em;
    }
}

/* End desktop*/