table {
    border: 1em solid grey;
    margin: 0 auto;  
    border-collapse: collapse;
    width: 50%;
}
tr, td {
    border: 0.3em solid grey; 
    background-color: grey; 
    text-align: center;
}

table caption{
    border: 0.1em solid grey;
    background-color: grey; 

}
input {
    box-shadow: 1px 1px 1px darkgray;
    width: 95%;
    height: 2em;
    font-size: 2em;
}
#result{
    text-align: right;
    border: 0.1em solid grey;
    margin-top: 15px;
}